body {
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: #d7d7ef;
    font-family: 'Lato', sans-serif;
}

h2 {
    margin: 50px 0;
}

section {
    flex-grow: 1;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 510px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.856);
    border-radius: 3px;
    transition: 0.2s;
    margin: 10px auto;
}

.file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.file-msg {
    font-size: medium;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
    outline: none;
}

footer {
    margin-top: 50px;
}

footer a {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.prediction_div {
    border: 3px solid rgba(20, 204, 218, 0.829);
    border-radius: 10px;
    width: max-content;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section_title {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(127, 255, 212, 0.795);
}

.predict_button {
    color: rgba(255, 255, 255, 0.781);
    background-color: #a535b4be;
    font-size: 19px;
    border: 2px solid #680bdb;
    border-radius: 15px;
    padding: 3px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.predict_button:hover {
    color: rgba(255, 255, 255, 0.781);
    background-color: #bd40b9;
}

.input_plot {
    width: 950px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 0;
}

.result_span {
    color: rgba(127, 255, 212, 0.795);
    font-weight: bold;
}

.result_section {
    margin-top: 5px;
}

.detection_result_value,
.localisation_result_value {
    font-weight: bold;
}